name: 'Create the github pages: mods.html'

on:
    workflow_dispatch:
        inputs:
            version:
                default: 1.21.10
                required: true
                type: string
                description: Minecraft version
    push:
        paths:
            - docs/mods-pages-build.py
            - docs/mods-pages-build.json
            - .github\workflows\build-pages-mods.yml
    pull_request: 

permissions:
    contents: read
    pull-requests: write

jobs:
    env-version:
        runs-on: ubuntu-latest
        outputs:
            version: ${{ steps.version.outputs.value }}
        steps:
            - uses: actions/checkout@v4
              with:
                ref: main
                
            - id: version
              if: ${{ inputs.version == '' }}
              run: echo '1.21.10'

            - run: echo '::notice title=Version::${{ steps.version.outputs.value }}'

    env-fname:
        needs: 
            - env-version
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                ref: main

            - id: fname
              run: echo 'mods-${{ needs.env-version.outputs.version }}.html'

            - run: echo '::notice title=Version::${{ steps.fname.outputs.value }}'

    build-pages:
        needs: 
            - env-version
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                ref: main
                
            - uses: actions/setup-node@v3

            - run: echo '::notice title=Head Branch Name::${{ github.head_ref }}'
            - run: echo '::notice title=Base Branch Name::${{ github.base_ref }}'

            - run: git pull

            - run: git checkout ${{ github.head_ref }}

            - run: echo '${{ toJSON(github) }}' | jq -c | tee var-github.json

            - name: upload login-notice.dat
              uses: actions/upload-artifact@v4
              with:
                name: var-github
                path: var-github.json

            - name: Set up Python 3.13
              uses: actions/setup-python@v3
              with:
                python-version: "3.13"

            - name: Install dependencies pip
              run: python -m pip install --upgrade pip

            - name: Install dependencies requirements.txt
              run: for i in $(find -name 'requirements.txt'); do pip install -r $(dirname ${i})/requirements.txt; done

            - run: tree

            - name: Build the page
              run: test -f mods-pages-build.py && python mods-pages-build.py
              working-directory: docs

